.repos {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 340px;
  height: 110px;
  border-radius: 12px;
  border: 1px solid #22282e;
  padding: 12px;

  p {
    font-size: 12px;
    color: #bbbbbb;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  div {
    display: flex;
    gap: 12px;
  }

  span {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #bbbbbb;
    font-size: 14px;
  }

  svg {
    path {
      fill: #bbbbbb;
    }
  }
}

.title {
  font-size: 18px;
  color: #fff;
}
